.quote-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40%;
    margin-top: 10rem;
    
}

.quote-display {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
    align-items: center;
    background-image: url('../Assets//images/floral1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 26px 58px 0 rgba(0, 0, 0, .22), 0 5px 14px 0 rgba(0, 0, 0, .18);
    .showQuote {
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
        padding-bottom: 1rem;
    }
    .author {
        color: rgb(41, 76, 96);
        text-decoration: underline;
    }
}

.loader-container{
    position: relative;
    display: flex;
    width: 40%;
    height: 15rem;
    margin-top: 4rem;
    background-image: url('../Assets//images/floral1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    
    > div {
      height: 100%;
      width: 8px;
      display: inline-block;
      margin-left: 2px;
      -webkit-animation: delay 0.8s infinite ease-in-out;
      animation: delay 0.8s infinite ease-in-out;
    }
    
    .bar1{
      background-color: #754fa0 ;
    }
    .bar2{
      background-color: #ae0f0c;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .bar3{
      background-color: #90d36b;
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .bar4{
      background-color: #f2d40d;
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .bar5{
      background-color: #fcb12b;
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    .bar6{
      background-color: #ed1b72;
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }
  
  
  @-webkit-keyframes delay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.05) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes delay {
    0%, 40%, 100% { 
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }

  .quote-btn {
    width: max-content;
    background-color: #03678c8f;
    border-radius:10px;
    color: aliceblue;
  }
